/* ===== HERO SECTION ===== */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* ===== BACKGROUND SLIDES ===== */
.bg-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 2s ease-in-out, transform 8s ease-out;
  z-index: 0;
}

.bg-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

/* ===== OVERLAY ===== */
.overlay {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===== HERO CONTENT ===== */
.hero-content {
  text-align: center;
  position: relative;
  z-index: 3;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.hero-content p {
  font-size: 1.2rem;
  color: #eaeaea;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* ===== HERO BUTTONS ===== */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.btn-outline {
  padding: 12px 32px;
  border-radius: 50px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #3bc649;
  color: white;
}
